    <main>
        <div class="container">
            <h1>Hello, Gordon</h1>
            <div class="row">
                <div class="col l9">
                    <h3>Contact List</h3>
                </div>
                <div class="col l3">
                    <div class="container">
                        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l9">

                    <table class="highlight">
                        <thead>
                            <tr>
                                <th data-field="first_name">First Name</th>
                                <th data-field="last_name">Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                          {{# each contacts}}
                          <tr id="{{id}}">
                            <td>{{first_name}}</td>
                            <td>{{last_name}}</td>
                            <!-- <td style="display: none">{{id}}</td> -->
                          </tr>
                          {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
