.modal-content {
  color: #453A34;
}

nav .brand-logo {
  font-family: 'Cinzel Decorative', cursive;
  color: #453A34;
  margin-left: 1%;
}

.nav-wrapper {
  background-color: #fff;
}

.footer-copyright {
  color: #453A34;
}

.btn {
  background-color: #9E474C;
}

.btn:hover {
  background-color: #F2D653;
}

main {
  /*font-family: 'Lato', sans-serif;*/
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #453A34;
  /*background-color: #F1F5EB;*/
}
